* {
  letter-spacing: 0 !important;
  color: rgb(255, 255, 255);
  text-align: center;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}